<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<string>Это великолепно</string>
		<string>Хорошая работа</string>
        <string>Отлично</string>
        <string>Я ценю это</string>
        <string>Это хорошо смотрится</string>
        <string>Хорошо поработали</string>
        <string>Отлично поработали</string>
        <string>Вы делаете хорошо</string>
        <string>Хорошо иметь вас в команде</string>
        <string>Чувствуется разница</string>
        <string>Исключительно</string>
        <string>Благодарю за суперработу</string>
        <string>Удивительно</string>
        <string>Это так значительно</string>
        <string>Грандиозно</string>
        <string>Совершенно</string>
        <string>То, что требовалось</string>
        <string>В самое яблочко</string>
        <string>Значительный вклад</string>
        <string>Ух, ты!</string>
        <string>Фантастика</string>
        <string>Благодарю вас</string>
        <string>Как раз то, что доктор прописал</string>
        <string>Первый класс</string>
        <string>Приятная работа</string>
        <string>Так держать</string>
        <string>Намного лучше</string>
        <string>Именно то, что нужно</string>
        <string>Вы – легенда</string>
        <string>Очень профессионально</string>
        <string>Что бы мы делали без тебя</string>
        <string>Блестяще</string>
        <string>Высшая оценка</string>
        <string>Впечатляюще</string>
        <string>Поразил цель</string>
        <string>Чистенько</string>
        <string>Круто</string>
        <string>Прямое попадание</string>
        <string>Как вам только удалось сделать это так хорошо</string>
        <string>Прекрасно</string>
        <string>Как раз то, что мы хотели</string>
        <string>Высший класс</string>
        <string>Ты единственный в своем роде</string>
        <string>Уникально</string>
        <string>Оригинально</string>
        <string>Невероятно</string>
        <string>Ас</string>
        <string>Впечатляюще</string>
        <string>Великолепно</string>
        <string>То, что нужно</string>
        <string>Поздравления</string>
        <string>Очень искусно</string>
        <string>Я рад, что ты у нас в команде</string>
        <string>Это хорошо – работать с тобой</string>
        <string>Вы заставляете нас гордиться</string>
        <string>Кажется, это заставит нас сверкать</string>
        <string>Хорошо сделано</string>
        <string>Мне это нравится</string>
        <string>Ты фантастичный</string>
        <string>Великолепная работа</string>
        <string>Профессионально, как всегда</string>
        <string>Ты всегда делаешь конфетку</string>
        <string>Я горжусь тобой</string>
        <string>Не вздумай когда-нибудь покидать нас</string>
        <string>Ты гений или кто?</string>
        <string>Целый отряд чемпионов</string>
        <string>Первоклассная работа</string>
        <string>Работа 1-го класса</string>
        <string>Потрясающе</string>
        <string>Браво</string>
        <string>Поразительно</string>
        <string>Просто супер</string>
        <string>Самый надежный</string>
        <string>Совершенство</string>
        <string>Настоящая поэзия</string>
        <string>Настоящий класс</string>
        <string>Мировой класс</string>
        <string>Безукоризненное  исполнение</string>
        <string>Классное действие</string>
        <string>Трудно поверить</string>
        <string>Чистое золото</string>
        <string>Классически</string>
        <string>Супер</string>
        <string>Ну, ты и делаешь!</string>
        <string>Вы такой молодец!</string>
        <string>Ты заслуживаешь того, чтобы похлопать тебя по плечу</string>
        <string>Огромная работа</string>
        <string>Нереально</string>
        <string>Сокровище</string>
        <string>Ударная работа</string>
        <string>Ты – чудо</string>
        <string>Кошачий восторг</string>
        <string>Не хватает слов для благодарности</string>
        <string>Ты всегда удивляешь меня</string>
        <string>Волшебно</string>
        <string>Еще одно чудо</string>
        <string>Чудеса!</string>
        <string>Потрясающе</string>
        <string>Просто звезда</string>
        <string>Колоссально</string>
        <string>Восхитительно!</string>
        <string>Хорошо делаешь!</string>
        <string>Это внушительно!</string>
        <string>Невероятно!</string>
        <string>Отлично!</string>
        <string>Превосходно!</string>
        <string>Прекрасной!</string>
        <string>Поразительно!</string>
        <string>Эффектно!</string>
        <string>Молодец!</string>
        <string>Хорошо придумано!</string>
        <string>Ты преуспеваешь!</string>
        <string>Потрясающе!</string>
        <string>Остроумно!</string>
        <string>Безупречная работа!</string>
        <string>То, что надо!</string>
        <string>Неплохо!</string>
        <string>Чудесно!</string>
        <string>Изумительно!</string>
        <string>Потрудился на совесть!</string>
        <string>Хорошо организовано!</string>
        <string>Это лучше, чем когда-либо!</string>
        <string>Хороший ответ!</string>
        <string>Ты это заслужил!</string>
        <string>Это воля божья!</string>
        <string>Оригинально!</string>
        <string>В следующий раз будет лучше!</string>
        <string>Видишь, какие у тебя способности!</string>
        <string>Трудящийся не будет постыжен!</string>
        <string>Ну, это событие!</string>
        <string>Я знал, что ты можешь это сделать!</string>
        <string>Хорошо получается!</string>
        <string>Сегодня намного лучше!</string>
        <string>Видишь, ты сам справился!</string>
        <string>Ты умеешь работать головой!</string>
        <string>Сразу видно, что ты хорошо подготовился!</string>
        <string>Ты выполняешь задание, просто играя!</string>
        <string>Ты на правильно пути!</string>
        <string>Это на высшем уровне!</string>
        <string>Здорово! С тебя можно брать пример!</string>
        <string>Какой прогресс!</string>
        <string>Это мне нравится!</string>
        <string>Необыкновенно!</string>
        <string>Блестяще!</string>
        <string>Этим можно гордиться!</string>
        <string>Замечательно!</string>
        <string>Красота!</string>
        <string>Нет слов, чтобы оценить твою работу!</string>
        <string>В этом есть своя «изюминка»!</string>
        <string>Ты настоящий мастер!</string>
        <string>Это гениально!</string>
        <string>Ты творчески подошел!</string>
        <string>У тебя светлая голова!</string>
        <string>На такое приятно смотреть!</string>
        <string>Очаровательно!</string>
        <string>Сразу видно, что ты умеешь думать!</string>
        <string>Разумный ответ!</string>
        <string>Стоящая работа!</string>
        <string>Это достойно похвалы!</string>
        <string>Твои родители могут гордиться тобой!</string>
        <string>Захватывающе!</string>
        <string>Чувствуется твоя проницательность!</string>
        <string>Считай, что ты преодолел новую высоту!</string>
        <string>Ты доказал, что хорошо мыслишь!</string>
        <string>Радуюсь, глядя на тебя!</string>
        <string>Вот таким будь каждый день!</string>
        <string>Сложная работа, но ты выполнил ее отлично!</string>
        <string>Ты обладаешь необыкновенной трудоспособностью!</string>
        <string>В тебе есть трудолюбие!</string>
        <string>Ты потрудился даже больше, чем требовалось!</string>
        <string>Превосходно выполнено!</string>
        <string>Замечательно придумано!</string>
        <string>Талант родился!</string>
        <string>Если хочешь – можешь!</string>
        <string>Просто чудесно!</string>
        <string>Великолепно!</string>
        <string>Это - победа!</string>
        <string>Это – настоящая находка!</string>
        <string>Мировой стандарт!</string>
        <string>Верно!</string>
        <string>Просто прелесть!</string>
        <string>Умница!</string>
        <string>Это просто удивительная работа!</string>
        <string>Так держать!</string>
        <string>Лучшего и желать нельзя!</string>
        <string>Ты на пути к успеху!</string>
        <string>Не работа, а загляденье!</string>
        <string>Сильно!</string>
        <string>Рожден летать!</string>
        <string>Это твое высшее достижение!</string>
        
	</array>
</dict>
</plist>
